@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h2 style="text-align: center; position: relative; margin: 35px 0;">Manage Users</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Role</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < ViewBag.users.Count; i++)
        {
            <tr>
                <th scope="row">@(i+1)</th>
                <td>@ViewBag.users[i].UserName</td>
                <td>Admin</td>
            </tr>
        }
    </tbody>
</table>